page-booking {





  .info{
    position: relative;


    ion-list{

      text-align: center;
      font-size:28sp;

    }

    ion-list-header{

      text-align: center;
      font-size: 2em;
    }

  }
}
