page-detail {

  .container{
    overflow: scroll;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    height:100%;


    #circle-pie
    {
        height:800px;
    }



    canvas {
      height:  250px;
  }

}

ion-card {
  position: relative;
  text-align: center;
  width:200px;
  height:200px;
  margin-top: 10px;
}

.card-title {
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;

}


.card-subtitle {
  font-size: 1.5em;
  position: absolute;
  top: 52%;
  width: 100%;

}


.info{
  position: relative;



  ion-list{

    text-align: center;


  }

  ion-list-header{

    text-align: center;
    font-size: 2em;

  }

}

button{

  font-family:arial;

}

ion-icon {
  font-size: 30px; //Preferred size here
  margin-left: 10px;
}

.border{

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-left: 10px;
  margin-right:10px;
  margin-top:10px;
  margin-bottom:10px;
  background-color: grey;
  height:50px;
  padding-top:10px;
}

ion-col{
  font-size: 18px;
}


#heading{
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif bold;
}



}
